p.text, p.prof {
    margin-bottom: 0rem;
}

div.text {
    font-size: larger;
}

h5 {
    padding-top: 20px;
    text-decoration: underline;
}

@media (max-width: 990px) {
    .actividad {
        display: inline-block;
    }

    .img-act {
        width: 90vw;
    }

    div.text {
        padding: 10px;
    }

    a.insta {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
}

@media (min-width: 991px) {
    h1 {
        padding: 15px;
    }
    
    .actividad {
        display: grid;
        grid-template-columns: 2fr;
        height: min-content;
    }
    
    
    .img-act {
        width: 40vw;
        float: left;
        padding: 10px;
    }
    
    

    p.text {
        margin-bottom: 0rem;
    }
    
    
    
    p {
        margin-bottom: 0rem;
    }
    
    a.insta {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
}

