.Body {
    background-color: rgb(238, 239, 245);
}

h1.greeting {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 15px;
}

.container.vista-contacto{
    padding: 0;
}


.wh-mail {
    font-size: 1.2rem;
    font-weight: 600;
    list-style: none;
    padding: 10px;
}



input.form-control,
textarea.form-control {
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container.vista-contacto {
    width: 80vw;
}

textarea.form-control {
    height: 15vh;
}

.btn.btn-secondary{
    border-radius: 15px;
    margin-bottom: 15px;
}



