h1 {
    padding: 15px;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.Body {
    background-color: rgb(238, 239, 245);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

h4 {
    padding: 10px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.text,
.text-esc {
    padding: 15px;
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.prof {
    font-size: small;
}

hr {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 990px) {
    .img-act {
        width: 80vw;
    }

    .actividadFin {
        padding-bottom: 15px;
    }
}

@media (min-width: 991px) {
    .Body {
        display: grid;
        grid-column: 2;
    }

    .img-act {
        width: 40vw;
        float: left;
        padding: 10px;
    }

    h4,
    h5,
    p {
        display: block;
        justify-content: center;
        align-items: center;
        float: right;
    }

    .text-esc {
        font-size: small;
    }
}