@media (max-width: 990px) {
    .container.vista-horarios {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    img.horarios {
        width: 90vw;
        padding: 10px;
    }
}

.greetingHorarios {
    padding: 10px;
    font-weight: 600;
}

.sede {
    display: flex;
    padding: 10px;
    font-weight: 600;
}

@media (min-width: 1100px) {
    img.horarios {
        width: 45%;
        padding: 15px;
    }

    .horarios:hover {
        width: 70vw;
    }
}