.ListGroup {
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}

.categoriaTienda {
    font-style: italic;
    font-size: 0.8rem;
}

.infoTienda {
    display: grid;
    grid-column: 1;
    align-items: center;
    justify-content: center;
}

.precioTienda {
    font-size: 1.3rem;
    font-weight: 600;
}

.botonTienda {
    text-decoration: none;
    color: black;
}

@media (max-width: 990px) {
    .CardItem {
        margin: 10px;
        padding: 10px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        width: 80vw;
        height: fit-content;
        box-shadow: 5px 5px 5px 5px rgb(216, 216, 216);
    }

    img.imagenTienda {
        width: 80vw;
        display: flex;
        justify-content: center;
        padding-right: 15px;
    }

}

@media (min-width: 991px) {
    .CardItem {
        margin: 10px;
        padding: 10px;
        background-color: rgba(238, 238, 233, 0.342);
        width: 25vw;
        height: fit-content;
        box-shadow: 5px 5px 5px rgb(192, 190, 190);
    }

    .imagenTienda {
        width: 20vw;
    }
}