.ListGroup {
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}

.tienda {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greetingTienda {
    padding: 10px;
}

.CardItem {
    margin: 10px;
    padding: 10px;
    background-color: rgba(182, 182, 173, 0.342);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.categoriaTienda {
    font-style: italic;
    font-size: 0.8rem;
}

.imagenTienda {
    width: 15vw;
    border-radius: 3%;
}

.infoTienda {
    display: grid;
    grid-column: 1;
}

.precioTienda {
    font-size: 1.3rem;
    font-weight: 600;
}

.botonTienda{
    text-decoration: none;
    color: black;
}
