.CardItem{
    display: grid;
    grid-template-columns: 2fr;
}

.CardItem {
    margin: 10px;
    padding: 10px;
    background-color: rgba(182, 182, 173, 0.342);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.categoriaTienda {
    font-style: italic;
    font-size: 0.8rem;
}

.imagenTienda {
    width: 15%;
    border-radius: 3%;
}

.infoTienda {
    display: grid;
    grid-column: 1;
}

.precioTienda {
    font-size: 1.3rem;
    font-weight: 600;
}

.botonTienda{
    text-decoration: none;
    color: black;
}
