@media (max-width: 990px) {
    .div-footer-h {
        display: none;
    }
    
}

.footer {
    margin: 0;
    padding: 0;
    position: sticky;
    bottom: 0;
    background-color: rgb(32, 29, 29);
    height: fit-content;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
}

.foo-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5rem;
}

.messenger,
.insta-caseros,
.insta-devoto,
.facebook,
.contacto,
.seguinos,
.horarios,
.info-footer,
.pie-footer {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

h4 {
    font-weight: 700;
    font-size: 1.7rem;
}

p.info-footer, p {
    margin-bottom: 0px;
}

.div-footer {
    display: block;
    justify-content: center;
    align-items: center;
}

.pie-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    font-size: 0.6rem;
    margin-bottom: 1.5rem;
    padding-top: 1.7rem;
}

p.info-footer-firma {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.firma {
    padding-left: 7px;
}