@media (max-width: 990px) {
    .horario, .info-footer.horario {
        display: none;
    }

}


.footer {
    margin: 0px;
    padding: 0px;
    position: sticky;
    bottom: 0;
    background-color: rgb(32, 29, 29);
    height: fit-content;
    width: 100;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
}

.foo-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}



.messenger,
.insta-caseros,
.insta-devoto,
.facebook,
.contacto,
.seguinos,
.horario,
.info-footer, .info-footer.horario
.info-footer-firma,
.pie-footer {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

h6.info-footer,
h6 {
    margin-bottom: 0px;
}

.div-footer {
    display: block;
    justify-content: center;
    align-items: center;
}

.pie-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    font-size: 0.4rem;
    margin-bottom: 1.5rem;
    padding-top: 1.7rem;
}

h6.info-footer-firma {
    display: flex;
    justify-content: center;
    align-items: center;
}

h6.firma {
    padding-left: 7px;
}