@media (max-width: 990px) {
    .container-fluid {
        position: sticky;
        top: 0;
        z-index: 2;
        padding: 10px;
        height: 10vh;
    }

    .navbar-logo {
        height: 10vh;
    }
}

.navbar-brand {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-family: 'Russo One', sans-serif;
    font-size: 1.8em;
}

.navbar-logo {
    height: 15vh;
}

.nav-item {
    font-weight: 600;
    font-size: large;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.dropdown-menu {
    background-color: whitesmoke;
}



@media (min-width: 991px) {
#navbarNavDropdown {
    display: flex;
    justify-content: right;
    padding-right: 6%;
}


.container-fluid {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 10px;
    height: 15vh;
}
}