.container-fluid {
    position: sticky;
    top: 0;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-family: 'Russo One', sans-serif;
    font-size: 20em;
}

.navbar-logo {
    height: 15vmin;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}


.dropdown-item {
    overflow-x: hidden;
}

#navbarNavDropdown {
    display: flex;
    justify-content: right;
    padding-right: 6%;
}

.navbar-nav {
    display: none;
}

