.container-fluid {
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 10px;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0.877), rgba(255, 255, 255, 0.11))
}

.navbar-brand {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-family: 'Russo One', sans-serif;
    font-size: 1.8em;
}

.navbar-logo {
    height: 15vmin;
}

.nav-item {
    font-weight: 600;
    font-size: large;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}


.dropdown-item {
    overflow-x: hidden;
}

#navbarNavDropdown {
    display: flex;
    justify-content: right;
    padding-right: 6%;
}

.navbar-nav {
    display: none;
}

