.Counter {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    padding: 10px;
}

.Controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

